In [67]:
import numpy as np 
import pandas as pd

In [68]:
pd.set_option('display.max_columns',None)

In [69]:
df1 = pd.read_csv(r'C:\Users\HARSHIT JAIN\Desktop\data science projects\Credit Risk Modeling\DATASET\Internal_Data.csv')

In [70]:
df1.head(10)

,PROSPECTID,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,Total_TL_opened_L12M,Tot_TL_closed_L12M,pct_tl_open_L12M,pct_tl_closed_L12M,Tot_Missed_Pmnt,Auto_TL,CC_TL,Consumer_TL,Gold_TL,Home_TL,PL_TL,Secured_TL,Unsecured_TL,Other_TL,Age_Oldest_TL,Age_Newest_TL
0,1,5,4,1,0,0,0.000,0.000,0.200,0.800,0,0,0.000,0.000,0,0,0,0,1,0,4,1,4,0,72,18
1,2,1,0,1,0,0,0.000,0.000,1.000,0.000,1,0,1.000,0.000,0,0,0,1,0,0,0,0,1,0,7,7
2,3,8,0,8,1,0,0.125,0.000,1.000,0.000,2,0,0.250,0.000,1,1,0,6,1,0,0,2,6,0,47,2
3,4,1,0,1,1,0,1.000,0.000,1.000,0.000,1,0,1.000,0.000,1,0,0,0,0,0,0,0,1,1,5,5
4,5,3,2,1,0,0,0.000,0.000,0.333,0.667,0,0,0.000,0.000,0,1,0,0,0,0,0,3,0,2,131,32
5,6,6,5,1,0,0,0.000,0.000,0.167,0.833,0,1,0.000,0.167,0,4,0,0,2,0,0,6,0,0,150,17
6,7,3,1,2,1,1,0.333,0.333,0.667,0.333,2,1,0.667,0.333,1,0,0,0,3,0,0,3,0,0,17,5
7,8,6,4,2,0,0,0.000,0.000,0.333,0.667,1,2,0.167,0.333,0,1,0,0,0,0,0,6,0,5,36,8
8,9,1,0,1,0,0,0.000,0.000,1.000,0.000,0,0,0.000,0.000,0,1,0,0,0,0,0,1,0,0,16,16
9,10,2,1,1,0,0,0.000,0.000,0.500,0.500,0,0,0.000,0.000,0,0,0,0,0,0,0,1,1,2,66,39

In [71]:
df1.shape

(51336, 26)

In [72]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51336 entries, 0 to 51335
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PROSPECTID            51336 non-null  int64
 1   Total_TL              51336 non-null  int64
 2   Tot_Closed_TL         51336 non-null  int64
 3   Tot_Active_TL         51336 non-null  int64
 4   Total_TL_opened_L6M   51336 non-null  int64
 5   Tot_TL_closed_L6M     51336 non-null  int64
 6   pct_tl_open_L6M       51336 non-null  float64
 7   pct_tl_closed_L6M     51336 non-null  float64
 8   pct_active_tl         51336 non-null  float64
 9   pct_closed_tl         51336 non-null  float64
 10  Total_TL_opened_L12M  51336 non-null  int64
 11  Tot_TL_closed_L12M    51336 non-null  int64
 12  pct_tl_open_L12M      51336 non-null  float64
 13  pct_tl_closed_L12M    51336 non-null  float64
 14  Tot_Missed_Pmnt       51336 non-null  int64
 15  Auto_TL               51336 non-null  int64
 16  CC_TL                 51336 non-null  int64
 17  Consumer_TL           51336 non-null  int64
 18  Gold_TL               51336 non-null  int64
 19  Home_TL               51336 non-null  int64
 20  PL_TL                 51336 non-null  int64
 21  Secured_TL            51336 non-null  int64
 22  Unsecured_TL          51336 non-null  int64
 23  Other_TL              51336 non-null  int64
 24  Age_Oldest_TL         51336 non-null  int64
 25  Age_Newest_TL         51336 non-null  int64
dtypes: float64(6), int64(20)
memory usage: 10.2 MB

In [73]:
df1.duplicated().sum()

0

In [74]:
df1.isnull().sum()

PROSPECTID              0
Total_TL                0
Tot_Closed_TL           0
Tot_Active_TL           0
Total_TL_opened_L6M     0
Tot_TL_closed_L6M       0
pct_tl_open_L6M         0
pct_tl_closed_L6M       0
pct_active_tl           0
pct_closed_tl           0
Total_TL_opened_L12M    0
Tot_TL_closed_L12M      0
pct_tl_open_L12M        0
pct_tl_closed_L12M      0
Tot_Missed_Pmnt         0
Auto_TL                 0
CC_TL                   0
Consumer_TL             0
Gold_TL                 0
Home_TL                 0
PL_TL                   0
Secured_TL              0
Unsecured_TL            0
Other_TL                0
Age_Oldest_TL           0
Age_Newest_TL           0
dtype: int64

In [75]:
df1.rename(columns={'Total_TL':'Total trade lines accounts',
                    'Tot_Closed_TL':'Total closed trade lines accounts',
                    'Tot_Active_TL':'Total active accounts',
                    'Total_TL_opened_L6M':'Total accounts opened in last 6 Months',
                    'Tot_TL_closed_L6M':'Total accounds closes in last 6 months',
                    'pct_tl_open_L6M':'Percent accounts opened in last 6 months',
                    'pct_tl_closed_L6M':'percent accounts closed in last 6 months',
                    'pct_active_tl':'Percent active accounts',
                    'pct_closed_tl':'Percent closed accounts',
                    'Total_TL_opened_L12M':'Total accounts opened in last 12 Months',
                    'Tot_TL_closed_L12M':'Total accounts closed in last 12 months',
                    'pct_tl_open_L12M':'Percent accounts opened in last 12 months',
                    'pct_tl_closed_L12M':'percent accounts closed in last 12 months',
                    'Tot_Missed_Pmnt':'Total missed Payments',
                    'Auto_TL':'Count Automobile accounts',
                    'CC_TL':'Count of Credit card accounts',
                    'Consumer_TL':'Count of Consumer goods accounts',
                    'Gold_TL':'Count of Gold loan accounts',
                    'Home_TL':'Count of Housing loan accounts',
                    'PL_TL':'Count of Personal loan accounts',
                    'Secured_TL':'Count of secured accounts',
                    'Unsecured_TL':'Count of unsecured accounts',
                    'Other_TL':'Count of other accounts',
                    'Age_Oldest_TL':'Age of oldest opened account',
                    'Age_Newest_TL':'Age of newest opened account'
},inplace=True)

In [76]:
df1.head(10)

,PROSPECTID,Total trade lines accounts,Total closed trade lines accounts,Total active accounts,Total accounts opened in last 6 Months,Total accounds closes in last 6 months,Percent accounts opened in last 6 months,percent accounts closed in last 6 months,Percent active accounts,Percent closed accounts,Total accounts opened in last 12 Months,Total accounts closed in last 12 months,Percent accounts opened in last 12 months,percent accounts closed in last 12 months,Total missed Payments,Count Automobile accounts,Count of Credit card accounts,Count of Consumer goods accounts,Count of Gold loan accounts,Count of Housing loan accounts,Count of Personal loan accounts,Count of secured accounts,Count of unsecured accounts,Count of other accounts,Age of oldest opened account,Age of newest opened account
0,1,5,4,1,0,0,0.000,0.000,0.200,0.800,0,0,0.000,0.000,0,0,0,0,1,0,4,1,4,0,72,18
1,2,1,0,1,0,0,0.000,0.000,1.000,0.000,1,0,1.000,0.000,0,0,0,1,0,0,0,0,1,0,7,7
2,3,8,0,8,1,0,0.125,0.000,1.000,0.000,2,0,0.250,0.000,1,1,0,6,1,0,0,2,6,0,47,2
3,4,1,0,1,1,0,1.000,0.000,1.000,0.000,1,0,1.000,0.000,1,0,0,0,0,0,0,0,1,1,5,5
4,5,3,2,1,0,0,0.000,0.000,0.333,0.667,0,0,0.000,0.000,0,1,0,0,0,0,0,3,0,2,131,32
5,6,6,5,1,0,0,0.000,0.000,0.167,0.833,0,1,0.000,0.167,0,4,0,0,2,0,0,6,0,0,150,17
6,7,3,1,2,1,1,0.333,0.333,0.667,0.333,2,1,0.667,0.333,1,0,0,0,3,0,0,3,0,0,17,5
7,8,6,4,2,0,0,0.000,0.000,0.333,0.667,1,2,0.167,0.333,0,1,0,0,0,0,0,6,0,5,36,8
8,9,1,0,1,0,0,0.000,0.000,1.000,0.000,0,0,0.000,0.000,0,1,0,0,0,0,0,1,0,0,16,16
9,10,2,1,1,0,0,0.000,0.000,0.500,0.500,0,0,0.000,0.000,0,0,0,0,0,0,0,1,1,2,66,39

In [77]:
df2 = pd.read_csv(r'C:\Users\HARSHIT JAIN\Desktop\data science projects\Credit Risk Modeling\DATASET\CIBIL_Score.csv')

In [78]:
df2.head(10)

,PROSPECTID,time_since_recent_payment,time_since_first_deliquency,time_since_recent_deliquency,num_times_delinquent,max_delinquency_level,max_recent_level_of_deliq,num_deliq_6mts,num_deliq_12mts,num_deliq_6_12mts,max_deliq_6mts,max_deliq_12mts,num_times_30p_dpd,num_times_60p_dpd,num_std,num_std_6mts,num_std_12mts,num_sub,num_sub_6mts,num_sub_12mts,num_dbt,num_dbt_6mts,num_dbt_12mts,num_lss,num_lss_6mts,num_lss_12mts,recent_level_of_deliq,tot_enq,CC_enq,CC_enq_L6m,CC_enq_L12m,PL_enq,PL_enq_L6m,PL_enq_L12m,time_since_recent_enq,enq_L12m,enq_L6m,enq_L3m,MARITALSTATUS,EDUCATION,AGE,GENDER,NETMONTHLYINCOME,Time_With_Curr_Empr,pct_of_active_TLs_ever,pct_opened_TLs_L6m_of_L12m,pct_currentBal_all_TL,CC_utilization,CC_Flag,PL_utilization,PL_Flag,pct_PL_enq_L6m_of_L12m,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,max_unsec_exposure_inPct,HL_Flag,GL_Flag,last_prod_enq2,first_prod_enq2,Credit_Score,Approved_Flag
0,1,549,35,15,11,29,29,0,0,0,-99999,-99999,0,0,21,5,11,0,0,0,0,0,0,0,0,0,29,6,0,0,0,6,0,0,566,0,0,0,Married,12TH,48,M,51000,114,0.200,0.0,0.798,-99999.0,0,0.798,1,0.0,0.0,0.000,0.0,13.333,1,0,PL,PL,696,P2
1,2,47,-99999,-99999,0,-99999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,209,1,0,0,Single,GRADUATE,23,F,19000,50,1.000,0.0,0.370,-99999.0,0,-99999.000,0,0.0,0.0,0.000,0.0,0.860,0,0,ConsumerLoan,ConsumerLoan,685,P2
2,3,302,11,3,9,25,25,1,9,8,25,25,0,0,10,5,10,0,0,0,0,0,0,0,0,0,25,4,0,0,0,0,0,0,587,0,0,0,Married,SSC,40,M,18,191,1.000,0.5,0.585,-99999.0,0,-99999.000,0,0.0,0.0,0.000,0.0,5741.667,1,0,ConsumerLoan,others,693,P2
3,4,-99999,-99999,-99999,0,-99999,0,0,0,0,-99999,-99999,0,0,5,4,5,0,0,0,0,0,0,0,0,0,0,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,Married,SSC,34,M,10000,246,1.000,1.0,0.990,-99999.0,0,-99999.000,0,0.0,0.0,0.000,0.0,9.900,0,0,others,others,673,P2
4,5,583,-99999,-99999,0,-99999,0,0,0,0,-99999,-99999,0,0,53,4,16,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,3951,0,0,0,Married,POST-GRADUATE,48,M,15000,75,0.333,0.0,0.000,-99999.0,0,-99999.000,0,0.0,0.0,0.000,0.0,-99999.000,0,0,AL,AL,753,P1
5,6,245,27,18,14,300,270,0,0,0,0,0,13,11,5,0,2,3,0,1,0,0,0,0,0,0,26,15,2,0,1,7,3,3,7,6,5,4,Married,12TH,35,M,0,154,0.167,0.0,0.000,-99999.0,0,-99999.000,0,1.0,0.0,0.429,0.0,-99999.000,1,0,ConsumerLoan,PL,668,P3
6,7,49,-99999,-99999,0,-99999,0,0,0,0,-99999,-99999,0,0,25,11,20,0,0,0,0,0,0,0,0,0,0,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,Married,SSC,35,M,30000,81,0.667,0.5,0.998,-99999.0,0,-99999.000,0,0.0,0.0,0.000,0.0,-99999.000,1,0,others,others,703,P1
7,8,74,23,12,3,164,133,0,0,0,0,0,2,2,27,0,4,0,0,0,0,0,0,0,0,0,133,2,0,0,0,0,0,0,2,1,1,1,Married,UNDER GRADUATE,30,M,27000,126,0.333,0.0,0.300,-99999.0,0,-99999.000,0,0.0,0.0,0.000,0.0,-99999.000,0,0,ConsumerLoan,others,676,P2
8,9,424,7,4,3,99,38,2,3,1,38,99,3,1,0,0,0,0,0,0,0,0,0,0,0,0,38,3,0,0,0,0,0,0,108,1,1,0,Married,SSC,39,F,18000,122,1.000,0.0,0.465,-99999.0,0,-99999.000,0,0.0,0.0,0.000,0.0,-99999.000,0,0,ConsumerLoan,others,658,P4
9,10,39,-99999,-99999,0,-99999,0,0,0,0,-99999,-99999,0,0,39,4,10,0,0,0,0,0,0,0,0,0,0,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,Married,12TH,28,M,18000,68,0.500,0.0,1.121,-99999.0,0,-99999.000,0,0.0,0.0,0.000,0.0,3.333,0,0,others,others,705,P1

In [79]:
df2.shape

(51336, 62)

In [80]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51336 entries, 0 to 51335
Data columns (total 62 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PROSPECTID                    51336 non-null  int64
 1   time_since_recent_payment     51336 non-null  int64
 2   time_since_first_deliquency   51336 non-null  int64
 3   time_since_recent_deliquency  51336 non-null  int64
 4   num_times_delinquent          51336 non-null  int64
 5   max_delinquency_level         51336 non-null  int64
 6   max_recent_level_of_deliq     51336 non-null  int64
 7   num_deliq_6mts                51336 non-null  int64
 8   num_deliq_12mts               51336 non-null  int64
 9   num_deliq_6_12mts             51336 non-null  int64
 10  max_deliq_6mts                51336 non-null  int64
 11  max_deliq_12mts               51336 non-null  int64
 12  num_times_30p_dpd             51336 non-null  int64
 13  num_times_60p_dpd             51336 non-null  int64
 14  num_std                       51336 non-null  int64
 15  num_std_6mts                  51336 non-null  int64
 16  num_std_12mts                 51336 non-null  int64
 17  num_sub                       51336 non-null  int64
 18  num_sub_6mts                  51336 non-null  int64
 19  num_sub_12mts                 51336 non-null  int64
 20  num_dbt                       51336 non-null  int64
 21  num_dbt_6mts                  51336 non-null  int64
 22  num_dbt_12mts                 51336 non-null  int64
 23  num_lss                       51336 non-null  int64
 24  num_lss_6mts                  51336 non-null  int64
 25  num_lss_12mts                 51336 non-null  int64
 26  recent_level_of_deliq         51336 non-null  int64
 27  tot_enq                       51336 non-null  int64
 28  CC_enq                        51336 non-null  int64
 29  CC_enq_L6m                    51336 non-null  int64
 30  CC_enq_L12m                   51336 non-null  int64
 31  PL_enq                        51336 non-null  int64
 32  PL_enq_L6m                    51336 non-null  int64
 33  PL_enq_L12m                   51336 non-null  int64
 34  time_since_recent_enq         51336 non-null  int64
 35  enq_L12m                      51336 non-null  int64
 36  enq_L6m                       51336 non-null  int64
 37  enq_L3m                       51336 non-null  int64
 38  MARITALSTATUS                 51336 non-null  object
 39  EDUCATION                     51336 non-null  object
 40  AGE                           51336 non-null  int64
 41  GENDER                        51336 non-null  object
 42  NETMONTHLYINCOME              51336 non-null  int64
 43  Time_With_Curr_Empr           51336 non-null  int64
 44  pct_of_active_TLs_ever        51336 non-null  float64
 45  pct_opened_TLs_L6m_of_L12m    51336 non-null  float64
 46  pct_currentBal_all_TL         51336 non-null  float64
 47  CC_utilization                51336 non-null  float64
 48  CC_Flag                       51336 non-null  int64
 49  PL_utilization                51336 non-null  float64
 50  PL_Flag                       51336 non-null  int64
 51  pct_PL_enq_L6m_of_L12m        51336 non-null  float64
 52  pct_CC_enq_L6m_of_L12m        51336 non-null  float64
 53  pct_PL_enq_L6m_of_ever        51336 non-null  float64
 54  pct_CC_enq_L6m_of_ever        51336 non-null  float64
 55  max_unsec_exposure_inPct      51336 non-null  float64
 56  HL_Flag                       51336 non-null  int64
 57  GL_Flag                       51336 non-null  int64
 58  last_prod_enq2                51336 non-null  object
 59  first_prod_enq2               51336 non-null  object
 60  Credit_Score                  51336 non-null  int64
 61  Approved_Flag                 51336 non-null  object
dtypes: float64(10), int64(46), object(6)
memory usage: 24.3+ MB

In [81]:
df2.duplicated().sum()

0

In [82]:
df2.isnull().sum()

PROSPECTID                      0
time_since_recent_payment       0
time_since_first_deliquency     0
time_since_recent_deliquency    0
num_times_delinquent            0
                               ..
GL_Flag                         0
last_prod_enq2                  0
first_prod_enq2                 0
Credit_Score                    0
Approved_Flag                   0
Length: 62, dtype: int64

In [83]:
df2.rename(columns={'time_since_recent_payment':'Time Since recent Payment made',
                    'time_since_first_deliquency':'Time since first Deliquency (missed payment)',
                    'time_since_recent_deliquency':'Time Since recent Delinquency',
                    'num_times_delinquent':'Number of times delinquent',
                    'max_delinquency_level':'Maximum delinquency level',
                    'max_recent_level_of_deliq':'Maximum recent level of delinquency',
'num_deliq_6mts':'Number of times delinquent in last 6 months',
'num_deliq_12mts':'Number of times delinquent in last 12 months',
'num_deliq_6_12mts':'Number of times delinquent between last 6 months and last 12 months',
'max_deliq_6mts':'Maximum delinquency level in last 6 months',
'max_deliq_12mts':'Maximum delinquency level in last 12 months',
'num_times_30p_dpd':'Number of times 30+ dpd',
'num_times_60p_dpd':'Number of times 60+ dpd',
'num_std':'Number of standard Payments',
'num_std_6mts':'Number of standard Payments in last 6 months',
'num_std_12mts':'Number of standard Payments in last 12 months',
'num_sub':'Number of sub standard payments - not making full payments',
'num_sub_6mts':'Number of sub standard payments in last 6 months',
'num_sub_12mts':'Number of sub standard payments in last 12 months',
'num_dbt':'Number of doubtful payments',
'num_dbt_6mts':'Number of doubtful payments in last 6 months',
'num_dbt_12mts':'Number of doubtful payments in last 12 months',
'num_lss':'Number of loss accounts', 
'num_lss_6mts':'Number of loss accounts in last 6 months',
'num_lss_12mts':'Number of loss accounts in last 12 months',
'recent_level_of_deliq':'Recent level of delinquency',
'tot_enq':'Total enquiries',
'CC_enq':'Credit card enquiries',
'CC_enq_L6m':'Credit card enquiries in last 6 months',
'CC_enq_L12m':'Credit card enquiries in last 12 months',
'PL_enq':'Personal Loan enquiries',
'PL_enq_L6m':'Personal Loan enquiries in last 6 months',
'PL_enq_L12m':'Personal Loan enquiries in last 12 months',
'time_since_recent_enq':'Time since recent enquiry',
'enq_L12m':'Enquiries in last 12 months',
'enq_L6m':'Enquiries in last 6 months',
'enq_L3m':'Enquiries in last 3 months',
'MARITALSTATUS':'Marital Status',
'EDUCATION':'Education level',
'AGE':'Age',
'GENDER': 'gender',
'NETMONTHLYINCOME':'net monthly income',
'Time_With_Curr_Empr':'Time with current Employer',
'pct_of_active_TLs_ever':'Percent active accounts ever',
'pct_opened_TLs_L6m_of_L12m':'Percent accounts opened in last 6 months to last 12 months',
'pct_currentBal_all_TL':'Percent current balance of all accounts',
'CC_utilization':'Credit card utilization',
'CC_Flag':'Credit card Flag',
'PL_utilization':'Peronal Loan utilization',
'PL_Flag':'Personal Loan Flag',
'pct_PL_enq_L6m_of_L12m':'Percent enquiries PL in last 6 months to last 12 months',
'pct_CC_enq_L6m_of_L12m':'Percent enquiries CC in last 6 months to last 12 months',
'pct_PL_enq_L6m_of_ever':'Percent enquiries PL in last 6 months to last 6 months',
'pct_CC_enq_L6m_of_ever':'Percent enquiries CC in last 6 months to last 6 months',
'max_unsec_exposure_inPct':'Maximum unsecured exposure in percent',
'HL_Flag':'Housing Loan Flag',
'GL_Flag':'Gold Loan Flag',
'last_prod_enq2':'Lates product enquired',
'first_prod_enq2':'First productd enquired',
'Credit_Score':"Applicant's credit score",
'Approved_Flag':'Priority levels'
},inplace = True)

In [84]:
df1_copy = df1.copy()
df2_copy = df2.copy()

In [85]:
df1_copy

,PROSPECTID,Total trade lines accounts,Total closed trade lines accounts,Total active accounts,Total accounts opened in last 6 Months,Total accounds closes in last 6 months,Percent accounts opened in last 6 months,percent accounts closed in last 6 months,Percent active accounts,Percent closed accounts,Total accounts opened in last 12 Months,Total accounts closed in last 12 months,Percent accounts opened in last 12 months,percent accounts closed in last 12 months,Total missed Payments,Count Automobile accounts,Count of Credit card accounts,Count of Consumer goods accounts,Count of Gold loan accounts,Count of Housing loan accounts,Count of Personal loan accounts,Count of secured accounts,Count of unsecured accounts,Count of other accounts,Age of oldest opened account,Age of newest opened account
0,1,5,4,1,0,0,0.000,0.00,0.200,0.800,0,0,0.000,0.00,0,0,0,0,1,0,4,1,4,0,72,18
1,2,1,0,1,0,0,0.000,0.00,1.000,0.000,1,0,1.000,0.00,0,0,0,1,0,0,0,0,1,0,7,7
2,3,8,0,8,1,0,0.125,0.00,1.000,0.000,2,0,0.250,0.00,1,1,0,6,1,0,0,2,6,0,47,2
3,4,1,0,1,1,0,1.000,0.00,1.000,0.000,1,0,1.000,0.00,1,0,0,0,0,0,0,0,1,1,5,5
4,5,3,2,1,0,0,0.000,0.00,0.333,0.667,0,0,0.000,0.00,0,1,0,0,0,0,0,3,0,2,131,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51331,51332,3,0,3,1,0,0.333,0.00,1.000,0.000,1,0,0.333,0.00,0,0,0,2,0,0,0,0,3,1,24,5
51332,51333,4,2,2,0,1,0.000,0.25,0.500,0.500,2,1,0.500,0.25,0,2,0,2,0,0,0,2,2,0,74,7
51333,51334,2,1,1,1,1,0.500,0.50,0.500,0.500,2,1,1.000,0.50,0,0,0,2,0,0,0,0,2,0,9,5
51334,51335,2,1,1,0,0,0.000,0.00,0.500,0.500,1,1,0.500,0.50,0,0,0,2,0,0,0,0,2,0,15,8
51335,51336,1,0,1,0,0,0.000,0.00,1.000,0.000,0,0,0.000,0.00,0,1,0,0,0,0,0,1,0,0,20,20

In [86]:
df2_copy

,PROSPECTID,Time Since recent Payment made,Time since first Deliquency (missed payment),Time Since recent Delinquency,Number of times delinquent,Maximum delinquency level,Maximum recent level of delinquency,Number of times delinquent in last 6 months,Number of times delinquent in last 12 months,Number of times delinquent between last 6 months and last 12 months,Maximum delinquency level in last 6 months,Maximum delinquency level in last 12 months,Number of times 30+ dpd,Number of times 60+ dpd,Number of standard Payments,Number of standard Payments in last 6 months,Number of standard Payments in last 12 months,Number of sub standard payments - not making full payments,Number of sub standard payments in last 6 months,Number of sub standard payments in last 12 months,Number of doubtful payments,Number of doubtful payments in last 6 months,Number of doubtful payments in last 12 months,Number of loss accounts,Number of loss accounts in last 6 months,Number of loss accounts in last 12 months,Recent level of delinquency,Total enquiries,Credit card enquiries,Credit card enquiries in last 6 months,Credit card enquiries in last 12 months,Personal Loan enquiries,Personal Loan enquiries in last 6 months,Personal Loan enquiries in last 12 months,Time since recent enquiry,Enquiries in last 12 months,Enquiries in last 6 months,Enquiries in last 3 months,Marital Status,Education level,Age,gender,net monthly income,Time with current Employer,Percent active accounts ever,Percent accounts opened in last 6 months to last 12 months,Percent current balance of all accounts,Credit card utilization,Credit card Flag,Peronal Loan utilization,Personal Loan Flag,Percent enquiries PL in last 6 months to last 12 months,Percent enquiries CC in last 6 months to last 12 months,Percent enquiries PL in last 6 months to last 6 months,Percent enquiries CC in last 6 months to last 6 months,Maximum unsecured exposure in percent,Housing Loan Flag,Gold Loan Flag,Lates product enquired,First productd enquired,Applicant's credit score,Priority levels
0,1,549,35,15,11,29,29,0,0,0,-99999,-99999,0,0,21,5,11,0,0,0,0,0,0,0,0,0,29,6,0,0,0,6,0,0,566,0,0,0,Married,12TH,48,M,51000,114,0.200,0.0,0.798,-99999.0,0,0.798,1,0.0,0.0,0.0,0.0,13.333,1,0,PL,PL,696,P2
1,2,47,-99999,-99999,0,-99999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,209,1,0,0,Single,GRADUATE,23,F,19000,50,1.000,0.0,0.370,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,0.860,0,0,ConsumerLoan,ConsumerLoan,685,P2
2,3,302,11,3,9,25,25,1,9,8,25,25,0,0,10,5,10,0,0,0,0,0,0,0,0,0,25,4,0,0,0,0,0,0,587,0,0,0,Married,SSC,40,M,18,191,1.000,0.5,0.585,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,5741.667,1,0,ConsumerLoan,others,693,P2
3,4,-99999,-99999,-99999,0,-99999,0,0,0,0,-99999,-99999,0,0,5,4,5,0,0,0,0,0,0,0,0,0,0,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,Married,SSC,34,M,10000,246,1.000,1.0,0.990,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,9.900,0,0,others,others,673,P2
4,5,583,-99999,-99999,0,-99999,0,0,0,0,-99999,-99999,0,0,53,4,16,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,3951,0,0,0,Married,POST-GRADUATE,48,M,15000,75,0.333,0.0,0.000,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,-99999.000,0,0,AL,AL,753,P1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51331,51332,15,24,23,2,24,24,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,24,4,0,0,0,0,0,0,0,3,3,1,Married,12TH,43,M,18500,249,1.000,1.0,0.230,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,1.661,0,0,ConsumerLoan,ConsumerLoan,650,P4
51332,51333,57,-99999,-99999,0,-99999,0,0,0,0,0,0,0,0,6,4,6,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,203,1,0,0,Married,SSC,31,M,25000,186,0.500,0.0,0.660,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,0.520,0,0,others,others,702,P1
51333,51334,32,-99999,-99999,0,-99999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6,0,0,0,2,2,2,1,5,4,2,Married,SSC,28,M,18000,66,0.500,0.5,0.428,-99999.0,0,-99999.000,0,1.0,0.0,1.0,0.0,0.567,0,0,ConsumerLoan,others,661,P3
51334,51335,58,-99999,-99999,0,-99999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,242,1,0,0,Single,UNDER GRADUATE,25,F,12802,54,0.500,0.0,0.143,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,1.202,0,0,ConsumerLoan,others,686,P2
51335,51336,74,-99999,-99999,0,-99999,0,0,0,0,-99999,-99999,0,0,18,4,10,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,13,1,1,1,Married,SSC,25,M,16000,102,1.000,0.0,0.333,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,-99999.000,0,0,others,others,681,P2

In [87]:
df1_copy[df1_copy['Age of oldest opened account'] == -99999]

,PROSPECTID,Total trade lines accounts,Total closed trade lines accounts,Total active accounts,Total accounts opened in last 6 Months,Total accounds closes in last 6 months,Percent accounts opened in last 6 months,percent accounts closed in last 6 months,Percent active accounts,Percent closed accounts,Total accounts opened in last 12 Months,Total accounts closed in last 12 months,Percent accounts opened in last 12 months,percent accounts closed in last 12 months,Total missed Payments,Count Automobile accounts,Count of Credit card accounts,Count of Consumer goods accounts,Count of Gold loan accounts,Count of Housing loan accounts,Count of Personal loan accounts,Count of secured accounts,Count of unsecured accounts,Count of other accounts,Age of oldest opened account,Age of newest opened account
532,533,2,2,0,0,0,0.0,0.0,0.0,1.0,0,0,0.0,0.0,0,0,0,0,0,0,0,2,0,2,-99999,-99999
804,805,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,0,0,0,0,0,0,0,0,1,1,-99999,-99999
1179,1180,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,0,0,0,0,1,0,0,1,0,0,-99999,-99999
3299,3300,1,1,0,0,0,0.0,0.0,0.0,1.0,0,0,0.0,0.0,0,0,0,0,0,0,0,0,1,1,-99999,-99999
5694,5695,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,1,0,0,0,0,0,0,0,1,1,-99999,-99999
5951,5952,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,1,0,0,0,0,0,0,0,1,1,-99999,-99999
9079,9080,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,1,0,0,0,0,0,0,0,1,1,-99999,-99999
10003,10004,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,1,0,0,0,0,0,0,0,1,1,-99999,-99999
10859,10860,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,1,-99999,-99999
12017,12018,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,0,0,0,0,0,0,0,0,1,1,-99999,-99999
12478,12479,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,1,0,0,0,0,0,0,0,1,1,-99999,-99999
12603,12604,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,1,0,0,0,0,0,0,0,1,1,-99999,-99999
15248,15249,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,1,0,0,0,0,0,0,0,1,1,-99999,-99999
16903,16904,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,1,0,0,0,0,0,0,0,1,1,-99999,-99999
21698,21699,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,1,0,0,0,0,0,0,0,1,1,-99999,-99999
22649,22650,1,1,0,0,0,0.0,0.0,0.0,1.0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,1,-99999,-99999
23272,23273,1,1,0,0,0,0.0,0.0,0.0,1.0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,1,-99999,-99999
24409,24410,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,1,0,0,0,0,0,0,0,1,1,-99999,-99999
25778,25779,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,1,0,0,0,0,0,0,0,1,1,-99999,-99999
26228,26229,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,1,0,0,0,0,0,0,0,1,1,-99999,-99999
28495,28496,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,0,0,0,0,0,1,0,1,0,0,-99999,-99999
29034,29035,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,1,0,0,0,0,0,0,0,1,1,-99999,-99999
29838,29839,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,1,0,0,0,0,0,0,0,1,1,-99999,-99999
29900,29901,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,0,0,0,0,0,0,0,0,1,1,-99999,-99999
30732,30733,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,1,0,0,0,0,0,0,0,1,1,-99999,-99999
32048,32049,1,1,0,0,0,0.0,0.0,0.0,1.0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,1,-99999,-99999
33012,33013,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,1,0,0,0,0,0,0,0,1,1,-99999,-99999
34897,34898,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,1,0,0,0,0,0,0,0,1,1,-99999,-99999
36155,36156,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,1,0,0,0,0,0,0,0,1,1,-99999,-99999
36705,36706,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,0,0,0,0,0,0,1,0,1,0,-99999,-99999
37908,37909,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,1,0,0,0,0,0,0,0,1,1,-99999,-99999
39097,39098,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,1,-99999,-99999
39747,39748,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,1,0,0,0,0,0,0,0,1,1,-99999,-99999
41266,41267,1,1,0,0,0,0.0,0.0,0.0,1.0,0,0,0.0,0.0,0,1,0,0,0,0,0,1,0,0,-99999,-99999
42863,42864,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,1,0,0,0,0,0,0,0,1,1,-99999,-99999
45680,45681,6,6,0,0,0,0.0,0.0,0.0,1.0,0,0,0.0,0.0,0,0,0,0,0,0,0,6,0,6,-99999,-99999
46777,46778,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,1,-99999,-99999
46954,46955,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,0,0,0,0,0,0,0,0,1,1,-99999,-99999
50291,50292,2,0,2,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,0,0,0,0,0,0,0,2,0,2,-99999,-99999
50804,50805,1,0,1,0,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,1,0,0,0,0,0,0,0,1,1,-99999,-99999

In [88]:
df1_copy[df1_copy['Age of oldest opened account'] == -99999].shape

(40, 26)

In [89]:
df1_copy = df1_copy[df1_copy['Age of oldest opened account'] != -99999]

In [90]:
df1_copy.shape

(51296, 26)

In [91]:
columns_to_be_removed = []

for i in df2_copy.columns:
    if df2_copy.loc[df2_copy[i] == -99999].shape[0] > 10000:
        columns_to_be_removed .append(i)

In [92]:
columns_to_be_removed

['Time since first Deliquency (missed payment)',
 'Time Since recent Delinquency',
 'Maximum delinquency level',
 'Maximum delinquency level in last 6 months',
 'Maximum delinquency level in last 12 months',
 'Credit card utilization',
 'Peronal Loan utilization',
 'Maximum unsecured exposure in percent']

In [93]:
df2_copy = df2_copy.drop(columns_to_be_removed,axis=1)

In [94]:
df2_copy

,PROSPECTID,Time Since recent Payment made,Number of times delinquent,Maximum recent level of delinquency,Number of times delinquent in last 6 months,Number of times delinquent in last 12 months,Number of times delinquent between last 6 months and last 12 months,Number of times 30+ dpd,Number of times 60+ dpd,Number of standard Payments,Number of standard Payments in last 6 months,Number of standard Payments in last 12 months,Number of sub standard payments - not making full payments,Number of sub standard payments in last 6 months,Number of sub standard payments in last 12 months,Number of doubtful payments,Number of doubtful payments in last 6 months,Number of doubtful payments in last 12 months,Number of loss accounts,Number of loss accounts in last 6 months,Number of loss accounts in last 12 months,Recent level of delinquency,Total enquiries,Credit card enquiries,Credit card enquiries in last 6 months,Credit card enquiries in last 12 months,Personal Loan enquiries,Personal Loan enquiries in last 6 months,Personal Loan enquiries in last 12 months,Time since recent enquiry,Enquiries in last 12 months,Enquiries in last 6 months,Enquiries in last 3 months,Marital Status,Education level,Age,gender,net monthly income,Time with current Employer,Percent active accounts ever,Percent accounts opened in last 6 months to last 12 months,Percent current balance of all accounts,Credit card Flag,Personal Loan Flag,Percent enquiries PL in last 6 months to last 12 months,Percent enquiries CC in last 6 months to last 12 months,Percent enquiries PL in last 6 months to last 6 months,Percent enquiries CC in last 6 months to last 6 months,Housing Loan Flag,Gold Loan Flag,Lates product enquired,First productd enquired,Applicant's credit score,Priority levels
0,1,549,11,29,0,0,0,0,0,21,5,11,0,0,0,0,0,0,0,0,0,29,6,0,0,0,6,0,0,566,0,0,0,Married,12TH,48,M,51000,114,0.200,0.0,0.798,0,1,0.0,0.0,0.0,0.0,1,0,PL,PL,696,P2
1,2,47,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,209,1,0,0,Single,GRADUATE,23,F,19000,50,1.000,0.0,0.370,0,0,0.0,0.0,0.0,0.0,0,0,ConsumerLoan,ConsumerLoan,685,P2
2,3,302,9,25,1,9,8,0,0,10,5,10,0,0,0,0,0,0,0,0,0,25,4,0,0,0,0,0,0,587,0,0,0,Married,SSC,40,M,18,191,1.000,0.5,0.585,0,0,0.0,0.0,0.0,0.0,1,0,ConsumerLoan,others,693,P2
3,4,-99999,0,0,0,0,0,0,0,5,4,5,0,0,0,0,0,0,0,0,0,0,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,Married,SSC,34,M,10000,246,1.000,1.0,0.990,0,0,0.0,0.0,0.0,0.0,0,0,others,others,673,P2
4,5,583,0,0,0,0,0,0,0,53,4,16,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,3951,0,0,0,Married,POST-GRADUATE,48,M,15000,75,0.333,0.0,0.000,0,0,0.0,0.0,0.0,0.0,0,0,AL,AL,753,P1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51331,51332,15,2,24,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,24,4,0,0,0,0,0,0,0,3,3,1,Married,12TH,43,M,18500,249,1.000,1.0,0.230,0,0,0.0,0.0,0.0,0.0,0,0,ConsumerLoan,ConsumerLoan,650,P4
51332,51333,57,0,0,0,0,0,0,0,6,4,6,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,203,1,0,0,Married,SSC,31,M,25000,186,0.500,0.0,0.660,0,0,0.0,0.0,0.0,0.0,0,0,others,others,702,P1
51333,51334,32,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6,0,0,0,2,2,2,1,5,4,2,Married,SSC,28,M,18000,66,0.500,0.5,0.428,0,0,1.0,0.0,1.0,0.0,0,0,ConsumerLoan,others,661,P3
51334,51335,58,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,242,1,0,0,Single,UNDER GRADUATE,25,F,12802,54,0.500,0.0,0.143,0,0,0.0,0.0,0.0,0.0,0,0,ConsumerLoan,others,686,P2
51335,51336,74,0,0,0,0,0,0,0,18,4,10,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,13,1,1,1,Married,SSC,25,M,16000,102,1.000,0.0,0.333,0,0,0.0,0.0,0.0,0.0,0,0,others,others,681,P2

In [95]:
df2_copy.shape

(51336, 54)

In [103]:
for i in df2_copy.columns:
    df2_copy = df2_copy.loc[ df2_copy[i] != -99999 ]

In [104]:
df2_copy.shape

(42066, 54)

In [105]:
for i in list(df1_copy.columns):
    if i in list(df2_copy.columns):
        print (i)

PROSPECTID

In [106]:
df = pd. merge ( df1_copy, df2_copy, how ='inner', left_on = ['PROSPECTID'], right_on = ['PROSPECTID'] )

In [107]:
df

,PROSPECTID,Total trade lines accounts,Total closed trade lines accounts,Total active accounts,Total accounts opened in last 6 Months,Total accounds closes in last 6 months,Percent accounts opened in last 6 months,percent accounts closed in last 6 months,Percent active accounts,Percent closed accounts,Total accounts opened in last 12 Months,Total accounts closed in last 12 months,Percent accounts opened in last 12 months,percent accounts closed in last 12 months,Total missed Payments,Count Automobile accounts,Count of Credit card accounts,Count of Consumer goods accounts,Count of Gold loan accounts,Count of Housing loan accounts,Count of Personal loan accounts,Count of secured accounts,Count of unsecured accounts,Count of other accounts,Age of oldest opened account,Age of newest opened account,Time Since recent Payment made,Number of times delinquent,Maximum recent level of delinquency,Number of times delinquent in last 6 months,Number of times delinquent in last 12 months,Number of times delinquent between last 6 months and last 12 months,Number of times 30+ dpd,Number of times 60+ dpd,Number of standard Payments,Number of standard Payments in last 6 months,Number of standard Payments in last 12 months,Number of sub standard payments - not making full payments,Number of sub standard payments in last 6 months,Number of sub standard payments in last 12 months,Number of doubtful payments,Number of doubtful payments in last 6 months,Number of doubtful payments in last 12 months,Number of loss accounts,Number of loss accounts in last 6 months,Number of loss accounts in last 12 months,Recent level of delinquency,Total enquiries,Credit card enquiries,Credit card enquiries in last 6 months,Credit card enquiries in last 12 months,Personal Loan enquiries,Personal Loan enquiries in last 6 months,Personal Loan enquiries in last 12 months,Time since recent enquiry,Enquiries in last 12 months,Enquiries in last 6 months,Enquiries in last 3 months,Marital Status,Education level,Age,gender,net monthly income,Time with current Employer,Percent active accounts ever,Percent accounts opened in last 6 months to last 12 months,Percent current balance of all accounts,Credit card Flag,Personal Loan Flag,Percent enquiries PL in last 6 months to last 12 months,Percent enquiries CC in last 6 months to last 12 months,Percent enquiries PL in last 6 months to last 6 months,Percent enquiries CC in last 6 months to last 6 months,Housing Loan Flag,Gold Loan Flag,Lates product enquired,First productd enquired,Applicant's credit score,Priority levels
0,1,5,4,1,0,0,0.000,0.00,0.200,0.800,0,0,0.000,0.000,0,0,0,0,1,0,4,1,4,0,72,18,549,11,29,0,0,0,0,0,21,5,11,0,0,0,0,0,0,0,0,0,29,6,0,0,0,6,0,0,566,0,0,0,Married,12TH,48,M,51000,114,0.200,0.0,0.798,0,1,0.0,0.0,0.000,0.0,1,0,PL,PL,696,P2
1,2,1,0,1,0,0,0.000,0.00,1.000,0.000,1,0,1.000,0.000,0,0,0,1,0,0,0,0,1,0,7,7,47,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,209,1,0,0,Single,GRADUATE,23,F,19000,50,1.000,0.0,0.370,0,0,0.0,0.0,0.000,0.0,0,0,ConsumerLoan,ConsumerLoan,685,P2
2,3,8,0,8,1,0,0.125,0.00,1.000,0.000,2,0,0.250,0.000,1,1,0,6,1,0,0,2,6,0,47,2,302,9,25,1,9,8,0,0,10,5,10,0,0,0,0,0,0,0,0,0,25,4,0,0,0,0,0,0,587,0,0,0,Married,SSC,40,M,18,191,1.000,0.5,0.585,0,0,0.0,0.0,0.000,0.0,1,0,ConsumerLoan,others,693,P2
3,5,3,2,1,0,0,0.000,0.00,0.333,0.667,0,0,0.000,0.000,0,1,0,0,0,0,0,3,0,2,131,32,583,0,0,0,0,0,0,0,53,4,16,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,3951,0,0,0,Married,POST-GRADUATE,48,M,15000,75,0.333,0.0,0.000,0,0,0.0,0.0,0.000,0.0,0,0,AL,AL,753,P1
4,6,6,5,1,0,0,0.000,0.00,0.167,0.833,0,1,0.000,0.167,0,4,0,0,2,0,0,6,0,0,150,17,245,14,270,0,0,0,13,11,5,0,2,3,0,1,0,0,0,0,0,0,26,15,2,0,1,7,3,3,7,6,5,4,Married,12TH,35,M,0,154,0.167,0.0,0.000,0,0,1.0,0.0,0.429,0.0,1,0,ConsumerLoan,PL,668,P3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42059,51332,3,0,3,1,0,0.333,0.00,1.000,0.000,1,0,0.333,0.000,0,0,0,2,0,0,0,0,3,1,24,5,15,2,24,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,24,4,0,0,0,0,0,0,0,3,3,1,Married,12TH,43,M,18500,249,1.000,1.0,0.230,0,0,0.0,0.0,0.000,0.0,0,0,ConsumerLoan,ConsumerLoan,650,P4
42060,51333,4,2,2,0,1,0.000,0.25,0.500,0.500,2,1,0.500,0.250,0,2,0,2,0,0,0,2,2,0,74,7,57,0,0,0,0,0,0,0,6,4,6,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,203,1,0,0,Married,SSC,31,M,25000,186,0.500,0.0,0.660,0,0,0.0,0.0,0.000,0.0,0,0,others,others,702,P1
42061,51334,2,1,1,1,1,0.500,0.50,0.500,0.500,2,1,1.000,0.500,0,0,0,2,0,0,0,0,2,0,9,5,32,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6,0,0,0,2,2,2,1,5,4,2,Married,SSC,28,M,18000,66,0.500,0.5,0.428,0,0,1.0,0.0,1.000,0.0,0,0,ConsumerLoan,others,661,P3
42062,51335,2,1,1,0,0,0.000,0.00,0.500,0.500,1,1,0.500,0.500,0,0,0,2,0,0,0,0,2,0,15,8,58,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,242,1,0,0,Single,UNDER GRADUATE,25,F,12802,54,0.500,0.0,0.143,0,0,0.0,0.0,0.000,0.0,0,0,ConsumerLoan,others,686,P2
42063,51336,1,0,1,0,0,0.000,0.00,1.000,0.000,0,0,0.000,0.000,0,1,0,0,0,0,0,1,0,0,20,20,74,0,0,0,0,0,0,0,18,4,10,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,13,1,1,1,Married,SSC,25,M,16000,102,1.000,0.0,0.333,0,0,0.0,0.0,0.000,0.0,0,0,others,others,681,P2

In [109]:
df.shape

(42064, 79)

In [108]:
df.to_csv('merge_dataset.csv',index = False)